<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
         html {
            min-height: 100%;
            background-image: url("images/burger.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: black;
            background-attachment: fixed;
            }
    </style>

</head>
<body>
    



</body>
</html>