html, body {
    background-image: url("images/bgr2.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

marquee {
    padding-bottom: 10px;;
    text-transform: capitalize;
    
    color: gray;
    font-size: larger;
}

.faster .fastest {

            line-height: 10px;
            opacity: 0.5;
            font-family: 'Lucida Sans Regular';
            text-transform: uppercase;



        }

.juicy {

    color: gray;
    font-size: 300px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-wrap: unset;
    z-index: -4;
    opacity: 0.5;
    position: relative;

}           

.nom {
    word-spacing: 100px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150px;
    color: darkred;
    font-weight: bolder;
    text-overflow: "";
    text-justify: distribute;
    line-height: 200px;
    z-index: -1;
    opacity: 1;


}

.fast {
    color: white;
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: -3;
    padding-top: 100px;
    

}

div.container-fluid img {
    position: relative; top: 0; left: 0; z-index: -1;
}

.menu {
    color: black;
    font-size: 24px;
    background-color: ivory;
    height: 100px;
    width: 150px;
    position: absolute;
}